<ion-header-bar>
  </div>
    <button class="button button-icon icon ion-chevron-left" ui-sref="tab.account"></button>
  <div class="title">添加收货地址</div>
</ion-header-bar>
<ion-view title="添加收货地址">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">用户名</span>
        <input type="text" placeholder="请输入">
      </label>
      <label class="item item-input">
        <span class="input-label">密码</span>
        <input type="password">
      </label>
    </div>
  </ion-content>
</ion-view>
