
<ion-header-bar align-title="center" class="bar-positive">
  <button class="button button-icon icon ion-ios-arrow-left" ui-sref="tab.product"></button>
  <h1 class="title">商品详情</h1>
</ion-header-bar>

<ion-content class="bg-f8 wl" style="padding-bottom: 50px">
  <ion-slide-box auto-play="true"
                 does-continue="true"
                 slide-interval=2000
                 show-pager="true">
    <ion-slide ng-repeat="pic in product.picUrls">
      <div class="box blue">
        <a>
          <img src="{{pic}}" width="100%" />
        </a>
      </div>
    </ion-slide>
  </ion-slide-box>
  <!--商品图------>
  <div class="product_info wl">
    <div class="product_about wl">
      <h2 ng-bind="product.itemName" class="fl"></h2>
      <ul class="row mt10 fr">
        <li class="col-lg-6 ft12" style="border:0;">销量 200</li>
        <li class="col-lg-6 ft12" style="border:0;">库存 200件</li>
      </ul>
      <br>
      <div class="color_red fr" style="margin-top:-45px"><span class="ft24" ng-bind="product.sellPrice | currency:'¥'"></span></div>
    </div>
    <!--<ul class="row product_norms wl mt10">-->
      <!--<li class="col-33">产地：上海</li>-->
      <!--<li class="col-33">品牌：清美</li>-->
      <!--<li class="col-33">规格：1.5KG</li>-->
    <!--</ul>-->
  </div>
  <!--<div class="wl padding">-->
    <!--<ul class="info product_count fr" style="margin-bottom: 0;">-->
        <!--<li class="fl">-->
          <!--<span class="info-price">商品数量</span>-->
        <!--</li>-->
        <!--<li class="fl" style="width:90px;padding:0 10px">-->
          <!--<button class="btn-num fl" ng-click="subNumber(product)"> - </button>-->
          <!--<input type="text" class="info-num fl" ng-model="product.number">-->
          <!--<button class="btn-num fl" ng-click="product.number = product.number + 1"> + </button>-->
        <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
  <ion-list>
    <!--<a class="item mt10 wl">-->
      <!--商户评价<span>（200）</span>-->
      <!--<i class="icon ion-chevron-right item-note"></i>-->
    <!--</a>-->
    <!--<a class="item payment_pay">-->
      <!--<div class="ft16">-->
        <!--蔬菜很新鲜 非常好吃-->
        <!--<span class="item-note">用户1</span>-->
      <!--</div>-->
      <!--<div class="mt10 ft12">2017-03-21</div>-->
    <!--</a>-->
    <!--<a class="item payment_pay">-->
      <!--<div class="ft16">-->
        <!--蔬菜很新鲜 非常好吃-->
        <!--<span class="item-note">用户1</span>-->
      <!--</div>-->
      <!--<div class="mt10 ft12">2017-03-21</div>-->
    <!--</a>-->

    <a class="item mt10 wl" ng-if="product.detailContent">
      图文详情
    </a>
    <div ng-if="product.detailContent" class="goods-info" ng-bind-html="product.detailContent"></div>
  </ion-list>

</ion-content>
<ion-footer-bar>
  <div class="button-bar">
    <a class="button button-positive" ng-click="pushCart()">放入购物车</a>
    <a class="button button-assertive" ng-click="buy()">立即购买</a>
  </div>
</ion-footer-bar>
