<ion-header-bar align-title="center" class="bar-positive">
  <h1 class="title">商品分类</h1>
  <button type="button" class="button button-icon"
          ng-click="switchStyle()">
    <i class="icon" ng-class="{'ion-navicon':queryParams.style=='row','ion-grid':queryParams.style=='col'}"></i>
  </button>
</ion-header-bar>
<div class="bar bar-subheader">
  <div class="row row-text-center">
    <div class="col" ng-class="{'active-red':queryParams.label == null}"
         ng-click="orderQuery('price')">价格</div>
    <div class="col" ng-class="{'active-red':queryParams.label == 'xianShiQiangGou'}"
         ng-click="labelQuery('xianShiQiangGou')">抢购</div>
    <div class="col" ng-class="{'active-red':queryParams.label == 'xinPinChangXian'}"
         ng-click="labelQuery('xinPinChangXian')">新品</div>
    <div class="col" ng-class="{'active-red':queryParams.label == 'reMaiTuiJian'}"
         ng-click="labelQuery('reMaiTuiJian')">推荐</div>
  </div>
</div>
<ion-content class="has-subheader">
  <div class="row border-top border-bottom" scroll-width>
    <ion-scroll zooming="true" direction="x" scrollbar-x="false" style="margin-top:0">
    <ul class="slide-tab" ng-style="{'width':categorys.length*86 + 'px'}">
      <li ng-repeat="item in categorys">
        <a ng-click="firstClick($index,item)" ng-bind="item.name" ng-class="{'select':slideIndex == $index}"></a>
      </li>
    </ul> <!-- / tabs -->
    </ion-scroll>
  </div>
  <div class="row">
    <div class="col-20 son_class" ng-if="categorys[slideIndex].nodes != null">
      <ion-scroll direction="y" scrollbar-y="false">
        <ul class="style">
          <li ng-repeat="item in categorys[slideIndex].nodes">
            <a ng-class="{'category-sub-active': slideSecondIndex == $index}"
               ng-click="secondClick($index,item)" ng-bind="item.name"> </a>
          </li>
        </ul>
      </ion-scroll>
    </div>
    <div ng-class="{'col':categorys[slideIndex].nodes == null, 'col-80':categorys[slideIndex].nodes.length > 0}">
      <ul class="son_class wl">
        <li ng-repeat="item in products" class="banner-publicity wl">
          <a  ui-sref="goods({id:item.id})" class="row wl color_black">
            <span class="col-33"><img src="../../img/shucai.jpg" class="img fl" /></span>
            <span class="col-67">
              <span class="product-name ft14" ng-bind="item.itemName"></span>
              <span class="wl mt10" ng-bind="item.brandSlogan"></span>
              <span class="wl mt10 color_red"><strong ng-bind="item.sellPrice | currency:'¥'"></strong> <span ng-if="item.memberPrice"><div ng-bind="item.memberPrice | currency:'¥'"></div></span></span>
            </span>
          </a>
          <button type="button" class="shopping-button fr"><span class="ion-ios-cart shopping-cart"></span></button>
        </li>
      </ul>
    </div>
  </div>
</ion-content>
