<ion-view view-title="商品列表">
  <ion-content>

      <div class="row border-top border-bottom" scroll-width>
        <ion-scroll zooming="true" direction="x" scrollbar-x="false" style="margin-top:0">
        <ul class="slide-tab" ng-style="{'width':categorys.length*86 + 'px'}">
          <li
              ng-repeat="item in categorys">
            <a ng-click="firstClick($index,item,$event)" ng-bind="item.name"></a><!-- class="select"-->
          </li>
        </ul> <!-- / tabs -->
        </ion-scroll>
      </div>

    <div class="row">
      <div class="col-20 son_class">
        <ion-scroll direction="y" scrollbar-y="false">
          <ul class="style">
            <li ng-class="slideSecondIndex == item.id-1 ? 'current row-baseline':'row-baseline'"
                ng-repeat="item in categorys[slideIndex].nodes">
              <a ng-click="secondClick($index,item)" ng-bind="item.name"> </a>
            </li>
          </ul>
        </ion-scroll>
      </div>
      <div class="col-80">
        <ul class="son_class wl">
          <li ng-repeat="item in products" class="banner-publicity wl">
            <a  ui-sref="goods({id:'ffff'})" class="row wl color_black">
              <span class="col-33"><img src="../../img/shucai.jpg" class="img fl" /></span>
              <span class="col-67">
                <span class="product-name ft14" ng-bind="item.itemName"></span>
                <span class="wl mt10">源自澳洲 品质稳定</span>
                <span class="wl mt10 color_red">￥<strong>180.00</strong></span>
              </span>
            </a>
            <button type="button" class="shopping-button fr"><span class="ion-ios-cart shopping-cart"></span></button>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
