<ion-view view-title="我的账户">
  <ion-content class="bg-ff">
    <ion-list>
      <div class="item about-meq">
        <img ng-src="{{account.headimgurl}}" permission permission-only="'isAuthorized'" class="item-header header" width="64px" height="64px" />
        <img src="../img/user_easyicon.png" permission permission-except="'isAuthorized'" class="item-header" width="64px" height="64px" />
        <button permission permission-except="'isAuthorized'" class="button ng-binding register">登录</button>
        <button permission permission-only="'isAuthorized'" style="border: none;" class="button ng-binding register">{{account.name}}</button>
      </div>
      <div class="about-column">
        <ul class="row wl">
          <li class="col-20" ui-sref="order({type:'1'})">
            <span class="about_t" ng-if="orderCount['待付款']  > 0 " ng-bind="orderCount['待付款']"></span>
            <img src="../img/account_money.png" />
            <span>待付款</span>
          </li>
          <li class="col-20" ui-sref="order({type:'2'})">
            <span class="about_t" ng-if="orderCount['待收货']  > 0 " ng-bind="orderCount['待收货']"></span>
            <img src="../img/account_indent.png" />
            <span>待收货</span>
          </li>
          <li class="col-20" ui-sref="order({type:'0'})">
            <img src="../img/account_cowry.png" />
            <span>全部订单</span>
          </li>
          <li class="col-20">
            <img src="../img/account_appraise.png" />
            <span>评价晒单</span>
          </li>
          <li class="col-20">
            <img src="../img/account_service.png" />
            <span>售后服务</span>
          </li>
        </ul>
      </div>

      <div class="about-lid wl mt10" style="border-top:10px solid #f8f8f8">
        <ul class="row wl">
          <li class="col-33" ui-sref="account_card">
            <i class="icon ion-ribbon-b new-icon-md new-color-vip"></i><br>
            购物卡</li>
          <li class="col-33" ui-sref="order_fast">
            <i class="icon ion-archive new-icon-md new-color-xd"></i><br>
            一键下单</li>
          <li class="col-33" ui-sref="address">
            <i class="icon ion-earth new-icon-md new-color-address"></i><br>
            收货地址</li>
        </ul>
        <ul class="row wl">
          <li class="col-33" ng-click="showInfo()">
            <i class="icon ion-pricetags new-icon-md new-color-sc"></i><br>
            收藏</li>
          <li class="col-33" ng-click="showInfo()">
            <i class="icon ion-android-locate new-icon-md new-color-tj"></i><br>
            为你推荐</li>
          <li class="col-33" ng-click="showInfo()">
            <i class="icon ion-ios-paw new-icon-md new-color-ll"></i><br>
            历史浏览</li>
        </ul>
      </div>
      <!--<div class="wl mt10">-->
        <!--<div class="stamp stamp04">-->
          <!--<div class="par"><p>我的优惠券</p></div>-->
          <!--<div class="copy">5 张</div>-->
        <!--</div>-->
      <!--</div>-->
    </ion-list>
  </ion-content>
  <div class="bottom-save wl bg-ff">
        <span class="wl text-right pr12">
          客服电话：4008-670-558（时间：10：00至7：00）
        </span>
  </div>
</ion-view>
