<ion-header-bar align-title="left" class="bar-positive">
  <h1 class="title">购物车</h1>
</ion-header-bar>
<ion-content style="bottom:115px" class="bg-ff">
  <!--<div class="">-->
    <!--购物车空空如也-->
  <!--</div>-->
  <ion-list class="cart wl" style="border-top:1px solid #eee;" ng-repeat="product in products">

    <div class="wl">
      <ion-checkbox ng-model="product.checked" ng-checked="product.checked" style="width:45px;border: 0;padding-left:0">
      </ion-checkbox>
      <ul class="wl" style="margin-bottom: 0; margin-top: -51px;padding-left: 60px;">
        <li class="fl">
          <a ui-sref="goods">
            <img ng-src="{{product.picUrl}}" class="shopping-img" />
          </a>
        </li>
        <li class="pr12">
          <b class="title" ng-bind="product.itemName"></b>
          <ul class="info">
            <li class="fl">
              <span class="info-price"><b ng-bind="product.sellPrice | currency:'¥'" class="ft18"></b></span><br>
              <!--<span class="info-kg ft14" ng-bind="product.unit"></span>-->
            </li>

            <li class="fr">
              <button type="button" class="info-delect" ng-click="remove($index)"><span class="ion-trash-a"></span></button>
            </li>
            <li class="fr" style="width:90px;padding:0 10px">
              <button class="btn-num fl" ng-click="subNumber(product)"> - </button>
              <input type="text" class="info-num fl" ng-model="product.number">
              <button class="btn-num fl" ng-click="product.number = product.number + 1"> + </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-list>
  <!--<ul class="privilege wl">-->
    <!--<li class="wl">总重：0.2kg(含包装)</li>-->
    <!--<li class="wl color_red"><span class="ion-ios-information-outline ft18"></span> 满99减10元</li>-->
  <!--</ul>-->

</ion-content>
<div class="payment wl">
  <ul class="row">
    <li class="col-66 money"><div class=" fl">共计：<b class="ft18 color_red" ng-bind="totalAmount() | currency:'￥'"></b></div></li>
    <li class="col-34">
      <button type="button" class="pay"
              ng-click="confirmOrder()"
              ng-class="{'pay-disabled': totalAmount() <= 0,'button-assertive': totalAmount() > 0}"
              ng-disabled="totalAmount() <= 0">结算</button>
    </li>
  </ul>
</div>
