<ion-header-bar align-title="center" class="bar-positive">
  <img src="../img/logo.png">
  <h1 class="title"></h1>
  <!--<div class="buttons">-->
    <!--<button class="button button-icon icon ion-location" ng-click="getLocation()" ng-bind="currentCity.cityName"></button>-->
  <!--</div>-->
</ion-header-bar>
<ion-content style="padding-bottom: 50px">
  <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" slide-interval=2000 show-pager="true" pager-click="pageClick(index)" active-slide="model.activeIndex" delegate-handle="delegateHandler">
    <ion-slide>
      <div class="box blue">
        <a>
          <img src="../img/banner-01.png" width="100%" />
        </a>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box yellow">
        <a>
          <img src="../img/banner-02.png"  width="100%" />
        </a>
      </div>
    </ion-slide>
  </ion-slide-box>
  <!--运单查询-->
  <div class="floatl" style="padding:0">
    <div class="search_core">
      <input type="text" name="conNo" ng-model="keyword" class="search_input" placeholder="搜索优选商品" />
      <div class="searchicon"><span class="ion-ios-search-strong" ng-click="goProducts({keyword:keyword})" style="font-size: 24px"></span></div>
    </div>
  </div>
  <div class="navbar_bg">
    <div class="row hp_line floatl" style="margin-top:10px">
      <div class="col-20 homecol">
        <a ng-click="goProducts({label:'xianShiQiangGou'})">
          <div class="hp_icon icon_1time"></div>
          <p class="list_txt">热门抢购</p>
        </a>
      </div>
      <div class="col-20 homecol">
        <a ng-click="goProducts({label:'xinPinChangXian'})">
          <div class="hp_icon icon_new"></div>
          <p class="list_txt">新品尝鲜</p>
        </a>
      </div>
      <div class="col-20 homecol">
        <a ng-click="goProducts({label:'reMaiTuiJian'})">
          <div class="hp_icon icon_xyvip"></div>
          <p class="list_txt">热门推荐</p>
        </a>
      </div>
      <div class="col-20 homecol">
        <a ng-click="goProducts({type:'1'})">
          <div class="hp_icon icon_sc"></div>
          <p class="list_txt">蔬菜</p>
        </a>
      </div>
      <div class="col-20 homecol">
        <a ng-click="goProducts({type:'2'})">
          <div class="hp_icon icon_ly"></div>
          <p class="list_txt">粮油副食</p>
        </a>
      </div>
    </div>
      <div class="row hp_line floatl">
        <div class="col-20 homecol">
          <a ng-click="goProducts({type:'3'})">
            <div class="hp_icon icon_rs"></div>
            <p class="list_txt">禽蛋肉</p>
          </a>
        </div>
        <div class="col-20 homecol">
          <a ng-click="goProducts({type:'4'})">
            <div class="hp_icon icon_sx"></div>
            <p class="list_txt">干菌干菜</p>
          </a>
        </div>
        <div class="col-20 homecol">
          <a ng-click="goProducts({type:'5'})">
            <div class="hp_icon icon_sg"></div>
            <p class="list_txt">礼盒类</p>
          </a>
        </div>
        <div class="col-20 homecol">
          <a ng-click="goProducts({type:'6'})">
            <div class="hp_icon icon_ls"></div>
            <p class="list_txt">礼品卡券</p>
          </a>
        </div>
        <div class="col-20 homecol">
          <a ng-click="goProducts({type:'7'})">
            <div class="hp_icon icon_yp"></div>
            <p class="list_txt">益禾农人</p>
          </a>
        </div>
    </div>
  </div>
  <div class="kuaibao">
    <button class="button button-full button-light activated" style="text-align: left"><label class="color_red ft18 mr10">益禾快报</label><em class="mr10"> | </em><em>123123</em></button>
  </div>
  <!--  抢购  -->
  <div class="wl">
    <div class="red wl">
      <img src="../img/buying.png" width="100%" />
    </div>
    <ul class="shopping-list">
      <li class="pd5-10 fl" ng-repeat="item in qiangGouProducts">
        <a>
          <img ng-src="{{item.picUrl}}" style="width:100%" ui-sref="product_detail({id:item.id})"/>
          <span class="trade-name" ng-bind="item.itemName"></span>
          <ul class="row stock">
            <li class="col-lg-12">销量 200</li>
          </ul>
          <span class="trade-price"><strong ng-bind="item.sellPrice | currency:'￥'"></strong></span>
          <span class="trade-vip" ng-if="item.memberPrice">VIP <p ng-bind="item.memberPrice | currency:'￥'"></p></span>
          <button type="button" class="shopping-button fr" ng-click="pushCarts(item)"><span class="ion-ios-cart shopping-cart"></span></button>
        </a>
      </li>
    </ul>
  </div>
  <!--  新品  -->
  <div class="wl">
    <div class="red wl">
      <img src="../img/new.png" width="100%" />
    </div>
    <ul class="shopping-list">
      <li class="pd5-10 fl" ng-repeat="item in xinPinProducts">
        <a>
          <img ng-src="{{item.picUrl}}" style="width:100%" ui-sref="product_detail({id:item.id})"/>
          <span class="trade-name" ng-bind="item.itemName"></span>
          <ul class="row stock">
            <li class="col-lg-6">销量 200</li>
          </ul>
          <span class="trade-price"><strong ng-bind="item.sellPrice | currency:'￥'"></strong></span>
          <span class="trade-vip" ng-if="item.memberPrice">VIP <p ng-bind="item.memberPrice | currency:'￥'"></p></span>
          <button type="button" class="shopping-button fr" ng-click="pushCarts(item)"><span class="ion-ios-cart shopping-cart"></span></button>
        </a>
      </li>
    </ul>
  </div>
  <!--  推荐  -->
  <div class="wl">
    <div class="red wl">
      <img src="../img/rec.png" width="100%" />
    </div>
    <ul class="shopping-list">
      <li class="pd5-10 fl" ng-repeat="item in tuiJianProducts">
        <a>
          <img ng-src="{{item.picUrl}}" ui-sref="product_detail({id:item.id})" style="width:100%"/>
          <span class="trade-name" ng-bind="item.itemName"></span>
          <ul class="row stock">
            <li class="col-lg-6">销量 200</li>
          </ul>
          <span class="trade-price"><strong ng-bind="item.sellPrice | currency:'￥'"></strong></span>
          <span class="trade-vip" ng-if="item.memberPrice">VIP <p ng-bind="item.memberPrice | currency:'￥'"></p></span>
          <button type="button" class="shopping-button fr" ng-click="pushCarts(item)"><span class="ion-ios-cart shopping-cart"></span></button>
        </a>
      </li>
    </ul>
  </div>
</ion-content>
