<ion-header-bar align-title="center" class="bar-positive">
  <img src="../img/logo.png">
  <h1 class="title"></h1>
  <div class="buttons">
    <button class="button button-icon icon ion-location" ng-click="getLocation()" ng-bind="currentCity.cityName"></button>
  </div>
</ion-header-bar>
<ion-content style="padding-bottom: 50px">
  <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" slide-interval=2000 show-pager="true" pager-click="pageClick(index)" active-slide="model.activeIndex" delegate-handle="delegateHandler">
    <ion-slide>
      <div class="box blue">
        <a>
          <img src="../img/banner-01.png" width="100%" />
        </a>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box yellow">
        <a>
          <img src="../img/banner-02.png"  width="100%" />
        </a>
      </div>
    </ion-slide>
  </ion-slide-box>
  <!--运单查询-->
  <div class="floatl" style="padding:0">
    <div class="search_core">
      <input type="text" name="conNo" ng-model="keyword" class="search_input" placeholder="搜索优选商品" />
      <div class="searchicon"><span class="ion-ios-search-strong" ng-click="goProducts({keyword:keyword})" style="font-size: 24px"></span></div>
    </div>
  </div>
  <div class="navbar_bg">
    <div class="row hp_line floatl" style="margin-top:10px">
      <div class="col-20 homecol">
        <a ng-click="goProducts({label:'xianShiQiangGou'})">
          <div class="hp_icon icon_xyvip"></div>
          <p class="list_txt">热门抢购</p>
        </a>
      </div>
      <div class="col-20 homecol">
        <a ng-click="goProducts({label:'xinPinChangXian'})">
          <div class="hp_icon icon_new"></div>
          <p class="list_txt">新品尝鲜</p>
        </a>
      </div>
      <div class="col-20 homecol">
        <a ng-click="goProducts({label:'reMaiTuiJian'})">
          <div class="hp_icon icon_1time"></div>
          <p class="list_txt">热门推荐</p>
        </a>
      </div>
      <div class="col-20 homecol">
        <a ng-click="goProducts({type:'1'})">
          <div class="hp_icon icon_ly"></div>
          <p class="list_txt">蔬菜</p>
        </a>
      </div>
      <div class="col-20 homecol">
        <a ng-click="goProducts({type:'2'})">
          <div class="hp_icon icon_lh"></div>
          <p class="list_txt">粮油副食</p>
        </a>
      </div>
    </div>
      <div class="row hp_line floatl">
        <div class="col-20 homecol">
          <a ng-click="goProducts({type:'3'})">
            <div class="hp_icon icon_rs"></div>
            <p class="list_txt">禽蛋肉</p>
          </a>
        </div>
        <div class="col-20 homecol">
          <a ng-click="goProducts({type:'4'})">
            <div class="hp_icon icon_sx"></div>
            <p class="list_txt">干菌干菜</p>
          </a>
        </div>
        <div class="col-20 homecol">
          <a ng-click="goProducts({type:'5'})">
            <div class="hp_icon icon_sg"></div>
            <p class="list_txt">礼盒类</p>
          </a>
        </div>
        <div class="col-20 homecol">
          <a ng-click="goProducts({type:'6'})">
            <div class="hp_icon icon_ls"></div>
            <p class="list_txt">礼品卡券</p>
          </a>
        </div>
        <div class="col-20 homecol">
          <a ng-click="goProducts({type:'7'})">
            <div class="hp_icon icon_yp"></div>
            <p class="list_txt">后院农人</p>
          </a>
        </div>
    </div>
  </div>
  <!--  抢购  -->
  <div class="wl">
    <div class="form_lid red wl">
      <span class="triangle1"></span>
      <h2><em class="triangle-left"></em><em class="rectangle">抢 购</em><em class="triangle-right"></em></h2>
      <span class="triangle2 fr"></span>
    </div>
    <ul class="shopping-list">
      <li class="pd5-10 fl" ng-repeat="item in qiangGouProducts">
        <a ui-sref="product_detail({id:item.id})">
          <img ng-src="{{item.picUrl}}" class="" style="width:100%"/>
          <span class="trade-name" ng-bind="item.itemName"></span>
          <span class="trade-price"><strong ng-bind="item.basePrice | currency:'￥'"></strong></span>
          <span class="trade-vip" ng-if="item.memberPrice">VIP <p ng-bind="item.memberPrice | currency:'￥'"></p></span>
        </a>
      </li>
    </ul>
  </div>
  <!--  新品  -->
  <div class="wl">
    <div class="form_lid red wl">
      <span class="triangle1"></span>
      <h2><em class="triangle-left"></em><em class="rectangle">新 品</em><em class="triangle-right"></em></h2>
      <span class="triangle2 fr"></span>
    </div>
    <ul class="shopping-list">
      <li class="pd5-10 fl" ng-repeat="item in xinPinProducts">
        <a ui-sref="product_detail({id:item.id})">
          <img ng-src="{{item.picUrl}}" class="" style="width:100%"/>
          <span class="trade-name" ng-bind="item.itemName"></span>
          <span class="trade-price"><strong ng-bind="item.basePrice | currency:'￥'"></strong></span>
          <span class="trade-vip" ng-if="item.memberPrice">VIP <p ng-bind="item.memberPrice | currency:'￥'"></p></span>
        </a>
      </li>
    </ul>
  </div>
  <!--  推荐  -->
  <div class="wl">
    <div class="form_lid red wl">
      <span class="triangle1"></span>
      <h2><em class="triangle-left"></em><em class="rectangle">推 荐</em><em class="triangle-right"></em></h2>
      <span class="triangle2 fr"></span>
    </div>
    <ul class="shopping-list">
      <li class="pd5-10 fl" ng-repeat="item in tuiJianProducts">
        <a ui-sref="product_detail({id:item.id})">
          <img ng-src="{{item.picUrl}}" class="" style="width:100%"/>
          <span class="trade-name" ng-bind="item.itemName"></span>
          <span class="trade-price"><strong ng-bind="item.basePrice | currency:'￥'"></strong></span>
          <span class="trade-vip" ng-if="item.memberPrice">VIP <p ng-bind="item.memberPrice | currency:'￥'"></p></span>
        </a>
      </li>
    </ul>
  </div>
</ion-content>
