<ion-header-bar>
  <button class="button button-icon icon ion-ios-arrow-left" ui-sref="address"></button>
  <div class="title">登录</div>
  <button class="button button-icon icon ion-ios-trash-outline" ng-click="delete()">注册</button>
</ion-header-bar>
<ion-content>
  <div class="list">
    <label class="item item-input">
      <span class="input-label">用户名</span>
      <input type="text" placeholder="请输入用户名" name="username">
    </label>
    <label class="item item-input">
      <span class="input-label">密码</span>
      <input type="password" placeholder="请输入密码" name="password">
    </label>
  </div>
  <button type="button" ng-click="login()" class="button button-block button-positive">
    登录
  </button>
</ion-content>
