<ion-header-bar align-title="center" class="bar-positive">
  <button type="button" class="button button-icon icon ion-ios-arrow-left" ui-sref="order({type:'0'})"></button>
  <h1 class="title">订单支付</h1>
</ion-header-bar>
<ion-content>
  <ion-list>
    <ion-radio ng-model="payment.type" ng-value="'A'">会员卡支付</ion-radio>
    <!--<ion-radio ng-model="choice" ng-value="'B'">微信支付（）</ion-radio>-->
  </ion-list>
  <ion-list>
    <ion-item class="item-icon-left" ng-click="openCardModel()">
      <i class="icon ion-card"></i>
      会员卡
      <span class="item-note" ng-bind="showCardInfo()"></span>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer-bar>
  <button class="button button-full button-assertive" ng-click="cardPay()" type="button">支付</button>
</ion-footer-bar>

<!--  优惠券  -->
<script id="chose-card.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <button class="button button-icon icon ion-ios-plus-outline" ng-click="openAddCard()"></button>
      <h1 class="title">会员卡</h1>
      <button class="button button-icon icon ion-ios-close-outline" ng-click="closeCouponModal()"></button>
    </ion-header-bar>
    <ion-content>
      <div class="card" ng-repeat="item in coupons" ng-click="choseCoupon(item)">
          <div class="item item-divider" ng-bind="item.couponNumber"></div>
          <div class="item item-text-wrap small" ng-bind="item.couponValue | currency:'¥'"></div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<script id="add-card.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">激活购物卡</h1>
      <button class="button button-icon icon ion-ios-close-outline" ng-click="closeAddCard()"></button>
    </ion-header-bar>
    <ion-content>
      <ion-item>
        <input type="text" ng-model="coupon.number" placeholder="请输入购物卡编号">
      </ion-item>
      <button class="button button-block button-positive" ng-click="activeCard()">激活</button>
    </ion-content>
  </ion-modal-view>
</script>
