<ion-header-bar align-title="center" class="bar-positive">
  <button type="button" class="button button-icon icon ion-ios-arrow-left" ui-sref="order({type:'0'})"></button>
  <h1 class="title">订单详情</h1>
</ion-header-bar>
<ion-content>
  <ion-list>
    <ion-item>
      <div class="row">
        <div class="col col-60">收货人：{{order.consigneeName}}</div>
        <div class="col">{{order.consigneePhone}}</div>
      </div>
      <div class="row">
        <div class="col">{{order.consigneeAddress}}</div>
      </div>
    </ion-item>
    <ion-item>订单状态：
      <span class="assertive" ng-if="order.payStatus == 1 || order.orderStatus == '9'" ng-bind="order.orderStatusDesc"></span>
      <span class="assertive" ng-if="order.payStatus != 1 && order.orderStatus != '9' " ng-bind="order.payStatusDesc"></span>
    </ion-item>
    <ion-item>
      <div class="row">
        <div class="col" style="font-size: 10px;">订单编号：{{order.orderNo}}</div>
      </div>
      <div class="row">
        <div class="col" style="font-size: 10px;">下单时间：{{order.createTime | date:'yyyy-MM-dd hh:mm:ss'}}</div>
      </div>
      <div class="row">
        <div class="col" style="font-size: 10px;">预约时间：{{order.appointmentTime | date:'yyyy-MM-dd'}}</div>
      </div>
      <div class="row">
        <div class="col" style="font-size: 10px;">订单金额：<span class="assertive" ng-bind="order.totalAmount | currency:'¥'"></span></div>
      </div>
    </ion-item>
    <ion-item class="item-thumbnail-left" ng-repeat="product in order.products">
      <img ng-src="{{product.picUrl}}">
      <h2 ng-bind="product.itemName"></h2>
      <p class="assertive" ng-bind="product.itemPrice * product.itemQty | currency:'¥'"></p>
      <span class="item-note small"> x <b ng-bind="product.itemQty"></b></span>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer-bar class="bar bar-footer">
    <button class="button button-small button-assertive" ng-if="order.orderStatus == 5" style="width: 58px;" ng-click="confirm()" type="button">确认收货</button>
    <button class="button button-small button-assertive button-full" ng-if="order.payStatus == 0  && order.orderStatus != 9" ng-click="pay()" type="button">付款</button>
    <!--<button class="button button-small button-assertive" ng-if="order.payStatus == 1" type="button" ng-click="tracking()">物流追踪</button>-->
</ion-footer-bar>
