<ion-header-bar align-title="center" class="bar-positive">
  <button type="button" class="button button-icon icon ion-ios-arrow-left" ui-sref="tab.account"></button>
  <h1 class="title" ng-bind="titleText"></h1>
</ion-header-bar>
<div class="bar bar-subheader">
  <div class="button-bar">
    <a class="button button-stable"
       ng-click="switchTime(1)"
       ng-class="{'button-assertive':queryParams.timeType == 1}">近一个月订单</a>
    <a class="button button-stable"
       ng-click="switchTime(2)"
       ng-class="{'button-assertive':queryParams.timeType == 2}">近半年订单</a>
    <a class="button button-stable"
       ng-click="switchTime(3)"
       ng-class="{'button-assertive':queryParams.timeType == 3}">半年前订单</a>
  </div>
</div>
<ion-content class="has-subheader">
  <ion-list ng-repeat="order in orders">
    <ion-item class="item-divider"></ion-item>
    <ion-item>订单状态：
      <span class="assertive" ng-if="order.payStatus == 1" ng-bind="order.orderStatusDesc"></span>
      <span class="assertive" ng-if="order.payStatus != 1" ng-bind="order.payStatusDesc"></span>
    </ion-item>
    <ion-item ui-sref="order_detail({id:order.id})">
      <div class="row">
        <div class="col" style="font-size: 10px;">订单编号：{{order.orderNo}}</div>
      </div>
      <div class="row">
        <div class="col" style="font-size: 10px;">下单时间：{{order.createTime | date:'yyyy-MM-dd hh:mm:ss'}}</div>
      </div>
      <div class="row">
        <div class="col" style="font-size: 10px;">订单金额：<span class="assertive" ng-bind="order.totalAmount | currency:'¥'"></span></div>
      </div>
    </ion-item>
    <ion-item class="item-thumbnail-left"
              ng-repeat="product in order.products">
      <img ng-src="{{product.picUrl}}">
      <h2 ng-bind="product.itemName"></h2>
      <p class="assertive" ng-bind="product.itemPrice * product.itemQty | currency:'¥'"></p>
      <span class="item-note small"> x <b ng-bind="product.itemQty"></b></span>
    </ion-item>
    <ion-item>
      <div style="display: inline-block;float: right;">
        <button class="button button-small button-assertive" ng-if="order.orderStatus == 5" style="width: 58px;" type="button">确认收货</button>
        <button class="button button-small button-assertive" ng-if="order.payStatus == 0" style="width: 58px;" type="button">付款</button>
        <button class="button button-small button-assertive" ng-if="order.payStatus == 1" type="button" ng-click="confirmTracking()">物流追踪</button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
