<ion-header-bar>
  <button class="button button-icon icon ion-ios-arrow-left" ui-sref="tab.cart"></button>
  <div class="title">确认订单</div>
</ion-header-bar>
<ion-content>
  <form name="addressFormName">
  <div class="list">
    <a class="item" ng-if="!payment.address" ng-click="openAddressModal()">
      收货地址
      <i class="icon ion-chevron-right item-note"></i>
      <span class="item-note">请选择&nbsp;&nbsp;</span>
    </a>
    <a class="item" ng-if="payment.address" ng-click="openAddressModal()">
        {{payment.address.name}}
        <span class="item-note" ng-bind="payment.address.phoneNumber"></span>
        <br><br>
        {{payment.address.address}}
    </a>
    <div class="item item-divider"></div>
    <a class="item">
      支付方式
      <span class="item-note" ng-bind="'在线支付'"></span>
    </a>
    <div class="item item-divider"></div>
    <a class="item">
      配送信息
    </a>
    <a class="item">
      配送方式：<span ng-bind="'顺丰速运'"></span><br>
      运费：<span ng-bind="'免运费'"></span>
    </a>
    <div class="item item-divider"></div>
    <a class="item" ng-click="choseCoupon()">
      优惠券
      <i class="icon ion-chevron-right item-note"></i>
      <span class="item-note">0张可用&nbsp;&nbsp;</span>
    </a>
    <ion-toggle ng-model="payment.useCard">
      优惠卡
    </ion-toggle>
    <div class="item item-divider"></div>
    <a class="item item-thumbnail-left" ng-repeat="product in payment.products">
      <img ng-src="{{product.img}}">
      <h2></h2>
      <p ng-bind="product.name"></p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="http://www.runoob.com/try/demo_source/blue-album.jpg">
      <h2>Weezer</h2>
      <p>Blue Album</p>
    </a>


  </div>

  </form>
</ion-content>
<div class="bar bar-footer">
  <ul class="row">
    <li class="col-66">
      应付金额：<b class="ft18 color_red" ng-bind="totalAmount() | currency:'￥'"></b>
    </li>
    <li class="col-34">
      <button type="button" class="pay"
              ng-click="confirmOrder()"
              ng-class="{'pay-disabled': totalAmount() <= 0,'button-assertive': totalAmount() > 0}"
              ng-disabled="totalAmount() <= 0">结算</button>
    </li>
  </ul>
</div>
<!--  收货地址  -->
<script id="chose-address.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">收货地址</h1>
      <button class="button button-icon icon ion-ios-close-outline" ng-click="closeAddressModal()"></button>
    </ion-header-bar>
    <ion-content>
      <div class="card" ng-repeat="item in address" ng-click="choseAddress($index)">
        <a>
          <div class="item item-divider">
            <span ng-bind="item.name"></span>&nbsp;&nbsp;<span ng-bind="item.phoneNumber"></span>&nbsp;&nbsp;<span ng-if="item.isDefault" class="label label-primary">默认地址</span>
          </div>
          <div class="item item-text-wrap small" ng-bind="item.address"></div>
        </a>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
<!--  优惠券  -->
<script id="chose-coupon.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">优惠券</h1>
      <button class="button button-icon icon ion-ios-close-outline" ng-click="closeCouponModal()"></button>
    </ion-header-bar>
    <ion-content>
      <div class="card" ng-repeat="item in coupon" ng-click="choseCoupon($index)">
        <a>
          <div class="item item-divider">
            <span ng-bind="item.name"></span>&nbsp;&nbsp;<span ng-bind="item.phoneNumber"></span>&nbsp;&nbsp;<span ng-if="item.isDefault" class="label label-primary">默认地址</span>
          </div>
          <div class="item item-text-wrap small" ng-bind="item.address"></div>
        </a>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
