<ion-header-bar>
  <button class="button button-icon icon ion-ios-arrow-left" ui-sref="tab.account"></button>
  <h1 class="title">VIP会员卡</h1>
  <button class="button button-icon icon ion-ios-plus-outline" ui-sref="account_card_bind"></button>
</ion-header-bar>
<ion-content>
  <div class="card" ng-repeat="item in coupons" ng-click="choseCoupon(item)">
    <div class="item item-divider">
      <span ng-bind="item.couponNumber"></span>
      <span style="float: right" ui-sref="account_card_recharge({id:item.id, cardNo:item.couponNumber})">充值</span>
    </div>
    <div class="item item-text-wrap small">
      面值：
      <span ng-bind="item.couponValue | currency:'¥'"></span>
      <span style="float: right">余额：{{item.userPrice | currency:'¥'}}</span>
    </div>
  </div>
</ion-content>
