/* CSS */
body,html {color: #555;background:#dedede}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;list-style-type:none}
body {line-height:1;font-size:12px}
:focus {outline:none}
input:focus,button:focus,select:focus{
  outline:none;
}
article,aside,canvas,details,figcaption,figure,
footer,header,menu,nav,section,summary {display:block;}
nav ul {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';}
a {margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none !important;}
ins {background-color:#ff9;color:#000;text-decoration:none;}
mark {background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del {text-decoration: line-through}
abbr[title], dfn[title] {border-bottom:1px dotted #000;cursor:help}
table {border-collapse:collapse;border-spacing:0}
hr {display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0}
input, select{vertical-align:middle;border: 0}
textarea{border:0;width: 62%;}
p, form, ol, ul, li, h3, menu {
  list-style: outside none none;
}
@font-face {
  font-family: Lovelo-Black;
src: url('../font/汉仪魏碑简.ttf')}


/*ionic*/
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
  background: #e74c3c;
  border-color: #e74c3c;
}


.wl{width: 100%;float:left}
.fr{float: right}
.fl{float: left}
.pd5{padding:5px}
.pd5-10{padding:5px 10px}
.pd10{padding:10px}
.pd-b50{padding-bottom:50px}
.pr12{padding-right:12px}
.row{margin:0;padding:0}
.color_red{color:#e74c3c}
.color_writ{color:#ccc}
.color_grey{color:#ccc}
.color_black{color:#666}

.mt5{margin-top:5px;}
.mt-2{margin-top:-2px;}
.mt10{margin-top:10px;}
.ft12{font-size:12px}
.ft14{font-size:14px}
.ft16{font-size:16px}
.ft18{font-size:18px}
.ft24{font-size:24px}
.border-top{border-top:1px solid #eee}
.border-bottom{border-bottom:1px solid #eee}
.border-left{border-left:1px solid #eee}
.border-right{border-right:1px solid #eee}
.bar.bar-positive {
  border-color: #fff;
  background-color: #fff;
  background-image: linear-gradient(0deg, #fff, #fff 50%, transparent 50%);
  color: #444}
.bg-ff{background: #ffffff}
.bg-f8{background: #f8f8f8}
.bar .title.title-left{text-align: center}
.bar.bar-positive .title{color: #444}
.bar-positive .button{color: #e74c3c !important;}
.bar .button.button-icon, .bar button.button-icon{font-size:14px}
.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before, .bar button.button-icon .icon:before, .bar button.button-icon:before, .bar button.button-icon.icon-left:before, .bar button.button-icon.icon-right:before {
  vertical-align: top;
   font-size:20px;
  line-height: 32px;
}

.tab-item .icon{font-size:28px}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated{color: #e74c3c}
.item{border-color: #eee}
.pane, .view{background: #f8f8f8}
/*首页搜索框*/
.search_core{width:100%;padding:9px 20px;background:#f0f0f0;margin-top:-8px;position:relative}
.search_core .search_input{width:96%;padding:10px;margin:0 auto;border-radius:25px;text-align:center;
  border:1px solid #e7e7e7;}
.searchicon{width:20px;height:20px;position:absolute;top:11px;left:40px;z-index:100;background-size:20px 20px;color: #333;cursor: pointer}

.navbar_bg{width:100%;float:left;background:#fff;border-bottom:1px solid #d4d4d4;}
.navbar{height:50px;left:0;top:0;background:#f6f8f8;border-bottom:0}
.hp_bg{display: block;width: 100%;height: 100%;}
.hp_icon{width:100%;height:70px;}
.hp_line{margin-bottom:20px}
.hp_line .list_txt{bottom: 8px;color:#666666;margin-bottom: 0;width: 100%;text-align: center}
.twoline .list_txt{bottom: 0}
.icon_xyvip{background: url("../img/icon_xyvip.png") no-repeat center center;background-size: 40px 40px;}
.icon_1time{background: url("../img/icon_1time.png") no-repeat center center;background-size: 40px 40px;}
.icon_lh{background: url("../img/icon_lh.png") no-repeat center center;background-size: 40px 40px;}
.icon_ls{background: url("../img/icon_ls.png") no-repeat center center;background-size: 40px 40px;}
.icon_ly{background: url("../img/icon_ly.png") no-repeat center center;background-size: 40px 40px;}
.icon_new{background: url("../img/icon_new.png") no-repeat center center;background-size: 40px 40px;}
.icon_rs{background: url("../img/icon_rs.png") no-repeat center center;background-size: 40px 40px;}
.icon_sg{background: url("../img/icon_sg.png") no-repeat center center;background-size: 40px 40px;}
.icon_sx{background: url("../img/icon_sx.png") no-repeat center center;background-size: 40px 40px;}
.icon_yp{background: url("../img/icon_yp.png") no-repeat center center;background-size: 40px 40px;}
@media screen and (max-width:320px) {
  .icon_wdbg,.icon_rkyb,.icon_wlzz,.icon_shdz,.icon_hwdz,.icon_zhcz,.icon_yhq,.icon_tjyl,.icon_more,.icon_xfyl,.icon_kfzx{background-size:48px 48px;}
  .hp_line .list_txt{font-size:13px}
}
.hp_line{padding: 0 10px}
.row + .row {
   margin-top:0;
  padding-top: 0;}
.home .search_input{width: 95%;position: absolute;top:23px;left:10px;border-radius: 3px;padding: 5px;}
.trade-name,.trade-price{text-align:center;font-size:12px;display: block;line-height:24px}
.trade-name{font-weight: bold;color:#000;}
.trade-price{color:#e74c3c}
.trade-price strong{font-weight: bold;font-size:14px}
.trade-vip{color:#000;border-radius:7px;background:#eb9316;text-align:center;font-size:12px;margin: 0 auto;display: table;padding:3px 7px}
.trade-vip strong{font-size:14px}
.box_border-5{border-bottom:5px solid #e7e7e7}
.banner-publicity{background:#fff;padding:10px;height: auto;}
.banner-publicity-row{margin-top:5px;}
.banner-publicity .img{width:100%}
.shopping-button{background:0;border:0;margin-top: -35px}
.shopping-cart{font-size:20px;color:#e74c3c;margin-top:5px;display: block}
.shopping-list li{width:33.333%;display: block;background:#fff}
.product-list li{width: 49.999999%;display: block;border:5px solid #f8f8f8}
.product-list .banner-publicity{padding:0}

/*购物车*/
.cart{border-bottom:1px solid #eee;}
.cart .item{border-right:0}
.cart .shopping-img{width:60px;height:60px}
.cart .title{font-size:14px}
.cart .info{margin-top: 20px}
.info-price{font-weight:300;color:#e74c3c;line-height:24px}
.info-kg{font-weight:300;color:#ccc;}
.info-num{width:24px;border:1px solid #ccc !important;height:24px!important;text-align: center}
.btn-num{height:24px;border:1px solid #ccc;background:#fff}
.info-delect{border:0;background:0;color:#ccc;font-size:24px;float: right;margin-top:-8px}
.cart .list{width:100%;float:left;margin-top:31px;padding-bottom:10px}
.privilege{padding:10px 20px}
.privilege li{text-align:left;padding-left:40px;line-height:24px}
.ion-trash-a{margin-top:-5px}

/*下单支付*/
.payment{position: fixed;bottom:50px;border-top:1px solid #ccc;}
.payment .money{padding:17px}
.pay{
  background: #e74c3c;color:#fff;padding:13px 0;width:100%;text-align: center;
  border:1px solid #e74c3c;
  font-size: large;
}
.pay-disabled {
  background-color: #f8f8f8;
  border:1px solid #f8f8f8;
  color: #666666;
}
/*下单界面*/
.payment_pay{font-size:14px}
.item-address{
  border-bottom: .6em solid transparent;
  border-top: .1em solid transparent;
  background: linear-gradient(white, white) padding-box,
  repeating-linear-gradient(-45deg, red 0, red 12.5%, transparent 0, transparent 25%,
    #58a 0, #58a 37.5%, transparent 0, transparent 50%) 0 / 6em 6em;font: 100%/1.6 Baskerville, Palatino, serif;}
.item-divider{padding:0;height:10px;min-height:10px}
.item-dispatching{padding:0}
.item-dispatching .lid{font-size:14px}
.item_info{font-size:14px}
.item_info .info{line-height:45px;border-bottom:1px solid #eee}
.item_info label{width:5rem;text-align: right;color:#9d9d9d;display: inline-block;float: left;line-height:45px}
.address_card{}
.address_card .add_card{border-bottom: .6em solid transparent;
  border-top: .1em solid transparent;
  background: linear-gradient(white, white) padding-box,
  repeating-linear-gradient(-45deg, red 0, red 12.5%, transparent 0, transparent 25%,
    #58a 0, #58a 37.5%, transparent 0, transparent 50%) 0 / 6em 6em;font: 100%/1.6 Baskerville, Palatino, serif;}
.item-divider{padding:0;height:10px;min-height:10px}
/**我的账户**/
.about-meq{background: url("../img/account.jpg") center top;background-size: 100%;height:120px;padding: 40px 0 0  110px;color:#fff}
.about-meq.item-avatar > img:first-child{max-width:50px;max-height:50px;border-radius:6px;}
.about-column{padding:12px}
.about-column li{padding:5px;text-align: center;line-height:20px;position: relative}
.about-column li img{width:90%}
.about-column li span{display: block}
.about_t{width:14px;height:14px;line-height:14px;font-size:11px;display: block;border-radius:50%;background:red;color:#fff;position: absolute;right:0;
  top:9px;}
.about-lid .row{margin-top: 0;margin-bottom:-1px}
.about-lid li{padding:15px 5px;text-align: center;line-height:20px;position: relative}
.about-lid li img{width:30px}

.icon_img-pay{width:35px;height:35px;display:block;margin:0 auto;background:url("../img/pay.png") left top no-repeat;background-size:100%}
.icon_img-pay:hover{width:35px;height:35px;display:block;margin:0 auto;background:url("../img/pay-hover.png") left top no-repeat;background-size:100%}
.icon_img-user{width:35px;height:35px;display:block;margin:0 auto;background:url("../img/user.png") left top no-repeat;background-size:100%}
.icon_img-user:hover{width:35px;height:35px;display:block;margin:0 auto;background:url("../img/user-hover.png") left top no-repeat;background-size:100%}
.icon_img-address{width:35px;height:35px;display:block;margin:0 auto;background:url("../img/address.png") left top no-repeat;background-size:100%}
.icon_img-address:hover{width:35px;height:35px;display:block;margin:0 auto;background:url("../img/address-hover.png") left top no-repeat;background-size:100%}
.icon_img-recommend{width:35px;height:35px;display:block;margin:0 auto;background:url("../img/recommend.png") left top no-repeat;background-size:100%}
.icon_img-recommend:hover{width:35px;height:35px;display:block;margin:0 auto;background:url("../img/recommend-hover.png") left top no-repeat;background-size:100%}
.icon_img-collect{width:35px;height:35px;display:block;margin:0 auto;background:url("../img/collect.png") left top no-repeat;background-size:100%}
.icon_img-collect:hover{width:35px;height:35px;display:block;margin:0 auto;background:url("../img/collect-hover.png") left top no-repeat;background-size:100%}
.icon_img-browse{width:35px;height:35px;display:block;margin:0 auto;background:url("../img/browse.png") left top no-repeat;background-size:100%}
.icon_img-browse:hover{width:35px;height:35px;display:block;margin:0 auto;background:url("../img/browse-hover.png") left top no-repeat;background-size:100%}

/*商品详情*/
.product_info{padding-top:40px;background: #fff}
.product_about{padding: 0 20px}
.product_about h2{font-size:20px}
.product_norms{border-top:1px solid #eee;border-bottom:1px solid #eee;text-align: center;line-height:45px}
.product_count{padding:5px 20px;display:block}
.button.button-block, .button.button-full{line-height:44px;margin-top:0}
/* 商品列表 */
.classify{text-align:center;background:#f8f8f8;}
.slide-tab{
  display: table;
  overflow: hidden;
  margin: 0;
  background-color: #fff;
  border-bottom: 1px solid;
}

.slide-tab li{
  line-height: 38px;
  overflow: hidden;
  padding: 0;
  font-size:12px;
  float:left;
}
.slide-tab li:hover{
  background:#e74c3c;color: #fff;
}

.slide-tab a{
  border-right: 1px solid #eee;
  color: #888;
  font-weight: 500;
  letter-spacing: 0;
  outline: none;
  padding: 0 20px;
  margin-left:-1px;
}
.slide-tab li a:hover,.slide-tab li a.select{
  color:#e74c3c;
}
.current a{
  color: #fff;
}
.son_class{background:#f8f8f8}
.son_class .style{width:100%;float:left;border-bottom:#eee}
.son_class .style li a{width:100%;float:left;text-align: center;color:#aaa;line-height:32px;
  border-bottom:1px solid #eee;}
.son_class .product-name{word-break:break-all;
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  overflow:hidden;line-height:18px}
.son_class .style li a:hover,.son_class .style li a.select{color:#e74c3c}

.product  li a{width:100%;float:left}
.product_lid{padding:5px;width:100%;float:left}
.product_lid a{ border:1px solid #eee;}
.product-img{width:100%;display: block;}
.son_class .banner-publicity{border-bottom:0}
.son_class .banner-publicity .img{width:70px;height:70px}

.banner-publicity:first-child{
  margin-top: 0;
}

.button-center {
  line-height:normal !important;
}
.category-sub-active {
  background-color:#fff;
}

.icon-md {
  font-size: 35px;
}

.row-text-center {
  line-height: 24px;
  text-align: center;
}

.active-red {
  color: #fdf9f9;
  background-color: red;
}
/*两列展示*/
.one_omit{word-break:break-all;
  display:-webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient:vertical;
  overflow:hidden;line-height:18px}
.two_omit{word-break:break-all;
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  overflow:hidden;line-height:18px}
/*优惠券*/
.stamp * {
  padding: 0;
  margin: 0;
  list-style:none;
  font-family:"Microsoft YaHei", 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
}
.stamp {
  width:100%;
  height:40px;
  padding: 0 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
.stamp:before {
  content: '';
  position: absolute;
  top:0;
  bottom:0;
  left:10px;
  right:10px;
  z-index: -1;
}
.stamp .par {
  float: left;
  padding: 8px 15px;
  text-align: left;
}
.stamp .par p {
  color:#333;
  font-size: 16px;
  line-height: 21px;
}
.stamp .par span {
  font-size: 50px;
  color:#333;
  margin-right: 5px;
  line-height: 65px;
}
.stamp .par .sign {
  font-size: 34px;
}
.stamp .par sub {
  position: relative;
  top:-5px;
  color:#333;
}
.stamp .copy {
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 30px;
  color:#555;
  text-align: center;
  line-height: initial;
}
.stamp .copy p {
  font-size: 16px;
  margin-top: 15px;
}
.stamp04 {
  background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 4px, #eee 4px);
  background-size: 12px 8px;
  background-position: -5px 10px;
}
.stamp04:before {
  background-color:#eee;
  left: 5px;
  right: 5px;
}
.stamp04 .copy {
  padding:10px 20px 0 0;
  font-size: 14px;
  float: right;
}
.stamp04 .copy p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 8px;
}
.stamp04 .copy a {
  background-color:#fff;
  color:#333;
  font-size: 14px;
  text-decoration:none;
  padding:5px 10px;
  border-radius:3px;
  display: block;
}
.bottom-save{position: fixed;z-index: 1;bottom:50px; border-top:1px solid #eee;line-height:40px;box-shadow:0 0 10px rgba(233, 233, 233, .5);}
.goods-info img{width:100%;margin-top:-1px}

/*标题背景*/
.form_lid{height:70px;padding:0 10px;overflow: hidden}
.form_lid.red{background: #ff6666;background: radial-gradient(#ff6666,#ff6666);}
.form_lid .triangle1{height: 0;
  width: 120px;
  border-bottom: 120px solid #ff7373;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;}
.form_lid .triangle2{height: 0;
  width: 120px;
  border-top: 120px solid #ff7373;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;margin-top: -140px}
.form_lid h2{font-size: 26px;line-height:70px;text-align:center;color:white;font-family: Lovelo-Black;margin-top:-10px}
.form_lid h2 .rectangle {
  padding:3px 20px;
  height: 100px;
  background: #990000;
  border:1px solid #990000;border-bottom-left-radius:33px;border-top-right-radius:33px;box-shadow: 1px 1px 3px #ffcccc;
}
/**物流追踪**/
#mohe-kuaidi_new .mh-wrap {margin: 6px 0}
#mohe-kuaidi_new .mh-wrap a {text-decoration: none}
#mohe-kuaidi_new .mh-wrap a:hover {text-decoration: underline}
#mohe-kuaidi_new .mh-form-wrap {padding: 5px 15px}
#mohe-kuaidi_new .mh-form-wrap p {margin: 10px 0;}
#mohe-kuaidi_new .mh-form-wrap p label {margin-right: 10px;vertical-align: middle;padding: 6px 0}
#mohe-kuaidi_new .mh-form-wrap p input, #mohe-kuaidi_new .mh-form-wrap p select {
  width: 186px;
  line-height: normal;
  border: 1px solid #ccc;
  padding: 6px;
  box-sizing: border-box;
  margin: 0;
}
#mohe-kuaidi_new .mh-form-wrap p button {
  width: 80px;
  height: 28px;
  border: 1px solid #ccc;
  margin-left: 10px;
  text-align: center;
  color: #333;
  font-family: "Microsoft Yahei";
  font-size: 14px;
  cursor: pointer;
  background: #f7f7f7;
  background: -moz-linear-gradient(top,#f7f7f7,#ececec);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(#f7f7f7),color-stop(#ececec));
  background: -ms-linear-gradient(top,#f7f7f7,#ececec);
  background: linear-gradient(to bottom,#f7f7f7,#ececec);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7',endColorstr='#ececec',GradientType=0);
}
#mohe-kuaidi_new .mh-form-wrap p button:hover {
  background: -moz-linear-gradient(top,#ececec,#f7f7f7);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(#ececec),color-stop(#f7f7f7));
  background: -ms-linear-gradient(top,#ececec,#f7f7f7);
  background: linear-gradient(to bottom,#ececec,#f7f7f7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec',endColorstr='#f7f7f7',GradientType=0);
}
#mohe-kuaidi_new .mh-form-wrap p button:active {
  background: -moz-linear-gradient(top,#f3f3f3,#fff);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(#f3f3f3),color-stop(#fff));
  background: -ms-linear-gradient(top,#f3f3f3,#fff);
  background: linear-gradient(to bottom,#f3f3f3,#fff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3',endColorstr='#ffffff',GradientType=0);
}
#mohe-kuaidi_new .mh-form-wrap form.mh-loading p button {
  position: relative;
  color: transparent;
  pointer-events: none;
}
#mohe-kuaidi_new .mh-loading{
  background: url("../img/loading_s.gif") no-repeat center;
  content: '';
  display: inline-block;
  width: 4em;
  height: 20px;
  position: absolute;
  left: 50%;
  top:-20px;
  margin-left: -2em;
  margin-top: -10px;
}
#mohe-kuaidi_new .mh-form-wrap .mh-error {display: none;color: #c00}
#mohe-kuaidi_new .mh-form-wrap .mh-error label {visibility: hidden}
#mohe-kuaidi_new .mh-list-wrap {max-height: 0;_height: 0;}
#mohe-kuaidi_new .mh-list-wrap.mh-unfold {max-height: 281px;_height: 281px;}
#mohe-kuaidi_new .mh-list-wrap .mh-list {margin: 0 15px;padding: 15px 0}
#mohe-kuaidi_new .mh-list-wrap .mh-list ul {max-height: 255px;_height: 255px;padding-left: 75px;padding-right: 20px;height: 626px;}
#mohe-kuaidi_new .mh-list-wrap .mh-list li {
  position: relative;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 8px;
  padding-bottom: 8px;
  color: #666;
}
#mohe-kuaidi_new .mh-list-wrap .mh-list li.first {color: #3eaf0e}

#mohe-kuaidi_new .mh-list-wrap .mh-list li p {line-height: 20px}

#mohe-kuaidi_new .mh-list-wrap .mh-list li .before {
  position: absolute;
  left: -13px;
  top: 2.2em;
  height: 82%;
  width: 0;
  border-left: 2px solid #ddd;
}
#mohe-kuaidi_new .mh-list-wrap .mh-list li .after {
  position: absolute;
  left: -16px;
  top: 1.2em;
  width: 8px;
  height: 8px;
  background: #ddd;
  border-radius: 6px;
}

#mohe-kuaidi_new .mh-list-wrap .mh-list li.first .after {
  background: #3eaf0e;
}
#mohe-kuaidi_new .mh-icon {
  background: url("../img/kuaidi_new.png") no-repeat 0 0;
}

#mohe-kuaidi_new .mh-icon-new {
  position: absolute;
  left: -20px;
  top: 1.5em;
  width: 41px;
  height: 18px;
  margin-left: -41px;
  margin-top: -9px;
  background-position: 0 -58px;
}
