/* CSS */
body,html {color: #555;background:#dedede}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;list-style-type:none}
body {line-height:1;font-size:12px}
:focus {outline:none}
input:focus,button:focus,select:focus{
  outline:none;
}
article,aside,canvas,details,figcaption,figure,
footer,header,menu,nav,section,summary {display:block;}
nav ul {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';}
a {margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none !important;}
ins {background-color:#ff9;color:#000;text-decoration:none;}
mark {background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del {text-decoration: line-through}
abbr[title], dfn[title] {border-bottom:1px dotted #000;cursor:help}
table {border-collapse:collapse;border-spacing:0}
hr {display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0}
input, select{vertical-align:middle;border: 0}
textarea{border:0;width: 62%;}




/*ionic*/
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
  background: #e74c3c;
  border-color: #e74c3c;
}


.wl{width: 100%;float:left}
.fr{float: right}
.fl{float: left}
.pd5{padding:5px}
.pd5-10{padding:5px 10px}
.pd-b50{padding-bottom:50px}
.row{margin:0;padding:0}
.color_red{color:#e74c3c}
.color_grey{color:#ccc}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.ft12{font-size:12px}
.ft14{font-size:14px}
.ft16{font-size:16px}
.ft18{font-size:18px}
.ft24{font-size:24px}
.bar.bar-positive {
  border-color: #fff;
  background-color: #fff;
  background-image: linear-gradient(0deg, #fff, #fff 50%, transparent 50%);
  color: #444}

.bar .title.title-left{text-align: center}
.bar.bar-positive .title{color: #444}
.bar-positive .button{color: #e74c3c}
.bar .button.button-icon, .bar button.button-icon{font-size:14px}
.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before, .bar button.button-icon .icon:before, .bar button.button-icon:before, .bar button.button-icon.icon-left:before, .bar button.button-icon.icon-right:before {
  vertical-align: top;
   font-size:20px;
  line-height: 32px;
}

.tab-item .icon{font-size:28px}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated{color: #e74c3c}
/*首页搜索框*/
.search_core{width:100%;padding:9px 20px;background:#f0f0f0;margin-top:-8px;position:relative}
.search_core .search_input{width:96%;padding:10px;margin:0 auto;border-radius:25px;text-align:center;
  border:1px solid #e7e7e7;}
.searchicon{width:20px;height:20px;position:absolute;top:11px;left:40px;z-index:100;background-size:20px 20px;color: #333;cursor: pointer}

.navbar_bg{width:100%;float:left;background:#fff;border-bottom:1px solid #d4d4d4;}
.navbar{height:50px;left:0;top:0;background:#f6f8f8;border-bottom:0}
.hp_bg{display: block;width: 100%;height: 100%;}
.hp_icon{width:100%;height:70px;}
.hp_line{margin-bottom:20px}
.hp_line .list_txt{bottom: 8px;color:#666666;margin-bottom: 0;width: 100%;text-align: center}
.twoline .list_txt{bottom: 0}
.icon_xyvip{background: url("../img/icon_xyvip.png") no-repeat center center;background-size: 40px 40px;}
.icon_1time{background: url("../img/icon_1time.png") no-repeat center center;background-size: 40px 40px;}
.icon_lh{background: url("../img/icon_lh.png") no-repeat center center;background-size: 40px 40px;}
.icon_ls{background: url("../img/icon_ls.png") no-repeat center center;background-size: 40px 40px;}
.icon_ly{background: url("../img/icon_ly.png") no-repeat center center;background-size: 40px 40px;}
.icon_new{background: url("../img/icon_new.png") no-repeat center center;background-size: 40px 40px;}
.icon_rs{background: url("../img/icon_rs.png") no-repeat center center;background-size: 40px 40px;}
.icon_sg{background: url("../img/icon_sg.png") no-repeat center center;background-size: 40px 40px;}
.icon_sx{background: url("../img/icon_sx.png") no-repeat center center;background-size: 40px 40px;}
.icon_yp{background: url("../img/icon_yp.png") no-repeat center center;background-size: 40px 40px;}
@media screen and (max-width:320px) {
  .icon_wdbg,.icon_rkyb,.icon_wlzz,.icon_shdz,.icon_hwdz,.icon_zhcz,.icon_yhq,.icon_tjyl,.icon_more,.icon_xfyl,.icon_kfzx{background-size:48px 48px;}
  .hp_line .list_txt{font-size:13px}
}
.hp_line{padding: 0 10px}
.row + .row {
   margin-top:0;
  padding-top: 0;}
.home .search_input{width: 95%;position: absolute;top:23px;left:10px;border-radius: 3px;padding: 5px;}
.form_lid{line-height:70px;height:70px;padding:0 10px;border-bottom:1px solid #d8d8d8;background: url("../img/form_lid.png") no-repeat center center;background-size: 100%}

.trade-name,.trade-price{text-align:center;font-size:12px;display: block;line-height:24px}
.trade-name{font-weight: bold;color:#000;}
.trade-price{color:#e74c3c}
.trade-price strong{font-weight: bold;font-size:14px}
.trade-vip{color:#000;border-radius:7px;background:#eb9316;text-align:center;font-size:12px;margin: 0 auto;display: block}
.trade-vip strong{font-size:14px}
.box_border-5{border-bottom:5px solid #e7e7e7}
.banner-publicity{background:#fff;padding:10px;margin-top:5px;height: auto;border-bottom: 5px solid #eee;}
.banner-publicity .img{width:100%}
.shopping-button{background:0;border:0;margin-top: -35px}
.shopping-cart{font-size:30px;color:#e74c3c}



/*购物车*/
.cart{border-bottom:1px solid #eee;}
.cart .item{border-right:0}
.cart .shopping-img{width:60px;height:60px}
.cart .title{font-size:14px}
.cart .info{margin-top: 20px}
.info-price{font-weight:300;color:#e74c3c;line-height:24px}
.info-kg{font-weight:300;color:#ccc;}
.info-num{width:24px;border:1px solid #ccc !important;height:24px!important;text-align: center}
.btn-num{height:24px;border:1px solid #ccc;background:#fff}
.info-delect{border:0;background:0;color:#ccc;font-size:24px;float: right}
.cart .list{width:100%;float:left;margin-top:31px;padding-bottom:10px}
.privilege{padding:10px 20px}
.privilege li{text-align:left;padding-left:40px;line-height:24px}
.ion-trash-a{margin-top:-5px}

/*下单支付*/
.payment{position: fixed;bottom:50px;border-top:1px solid #ccc;}
.payment .money{padding:17px}
.pay{
  background: #e74c3c;color:#fff;padding:13px 0;width:100%;text-align: center;
  border:1px solid #e74c3c;
  font-size: large;
}
.pay-disabled {
  background-color: #f8f8f8;
  border:1px solid #f8f8f8;
  color: #666666;
}
/*下单界面*/
.payment_pay{font-size:14px}
.item-address{
  border-bottom: .6em solid transparent;
  border-top: .1em solid transparent;
  background: linear-gradient(white, white) padding-box,
  repeating-linear-gradient(-45deg, red 0, red 12.5%, transparent 0, transparent 25%,
    #58a 0, #58a 37.5%, transparent 0, transparent 50%) 0 / 6em 6em;font: 100%/1.6 Baskerville, Palatino, serif;}
.item-divider{padding:0;height:10px;min-height:10px}
.item-dispatching{padding:0}
.item-dispatching .lid{font-size:14px}
.item_info{font-size:14px}
.item_info .info{line-height:45px;border-bottom:1px solid #eee}
.item_info label{width:5rem;text-align: right;color:#9d9d9d;display: inline-block;float: left;line-height:45px}
.address_card{}
.address_card .add_card{border-bottom: .6em solid transparent;
  border-top: .1em solid transparent;
  background: linear-gradient(white, white) padding-box,
  repeating-linear-gradient(-45deg, red 0, red 12.5%, transparent 0, transparent 25%,
    #58a 0, #58a 37.5%, transparent 0, transparent 50%) 0 / 6em 6em;font: 100%/1.6 Baskerville, Palatino, serif;}
.item-divider{padding:0;height:10px;min-height:10px}
/****/
.about-meq{background: url("../img/account.jpg") center top;background-size: 100%;height:120px;padding: 40px 95px;color:#fff}
.about-column{padding:12px}
.about-column li{padding:5px;text-align: center;line-height:20px;position: relative}
.about-column li img{width:90%}
.about_t{width:14px;height:14px;line-height:14px;font-size:11px;display: block;border-radius:50%;background:red;color:#fff;position: absolute;right:0;
  top:9px;}
.about-lid{padding:12px}
.about-lid .row{margin-top: 0;margin-bottom:-1px}
.about-lid li{padding:15px 5px;text-align: center;line-height:20px;position: relative;border:1px solid #eee;margin-right:-1px}
.about-lid li img{width:30px}
/**商品分类******/
.classify{width:70px;min-height:530px;display:block;float:left;text-align:center;background:#f8f8f8;position: fixed;left:0;z-index:1000}

.slide-tab{ display: table;overflow: hidden;margin: 0;width: 100%;}

.slide-tab li{
  line-height: 38px;
  overflow: hidden;
  padding: 0;
  font-size:12px;
}

.slide-tab a{
  border-bottom: 1px solid #eee;
  color: #888;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  text-decoration: none;
}
.slide-tab a:hover,.slide-tab a.select{
  background:#e74c3c;color: #fff;
}
.current a{
  color: #fff;
}

.son_class{padding-left:70px}
.son_class .style{width:100%;float:left;background:#fff;}
.son_class .style li a{width:100%;float:left;text-align: center;color:#aaa;line-height:32px;
  border:1px solid #eee;border-top:0}
.product  li a{width:100%;float:left}
.product_lid{padding:5px;width:100%;float:left}
.product_lid a{ border:1px solid #eee;}
.product-img{width:100%;display: block;}
.son_class .banner-publicity .img{width:100%;height:100px}
/*商品详情*/
.product_info{padding:50px 0}
.product_about{padding: 0 20px}
.product_about h2{font-size:20px}
.product_norms{border-top:1px solid #eee;border-bottom:1px solid #eee;text-align: center;line-height:45px}
.product_count{padding:5px 20px;display:block}
